body {
    background-color: #003d00;
    font-family: monoid;
    color: white;
    min-height: 1000px;
    margin-bottom: 400px;
    clear: both;
}

h1  {
    background-color: slategrey; 
    text-align: center;
    font-size: 69px;
    text-shadow: 3px 3px black;
    /* text-decoration: underline; */
    text-decoration-color: black;
}

h2  {
    text-align: center;
    font-size: 57;
    text-decoration: underline;
    text-shadow: 3px 3px black;
    text-decoration-color: white;
}

h3  {
    text-align: center;
    font-size: 48;
    /* text-decoration: underline; */
    text-shadow: 3px 3px black;
    text-decoration-color: white;
}

p   {
    font-size: 42;
}

hr  {
    width: fit-content;
    height: 5px;
    color: slategray;
    background-color: slategray;
}

/* Top Navigation */
.topnav {
    background-color: slategray;
    overflow: hidden;
    font-family: monoid;
    }

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    }

.topnav a:hover {
    background-color: darkslategray;
    color: black;
    }

.topnav a:active {
    background-color: #003d00;
    color: white;
    }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}