html {
    background: #003300 url("images/background0.png");
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-size: cover;
}

body {
    font-family: monoid;
    color: #AAAAAA;
    min-height: 1080px;
    /* margin-bottom: 400px; */
    /* clear: both; */
}

h1  {
    background-color: #002200;
    overflow: hidden;
    background-size: auto;
    text-align: center;
    font-size: 69px;
    text-shadow: 3px 3px black;
    /* text-decoration: underline; */
    text-decoration-color: black;
}

h2  {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-style: inherit;
    text-shadow: 2px 2px black;
}

h3  {
    text-align: center;
    font-size: 24px;
    /* text-decoration: underline; */
    text-shadow: 2px 2px black;
}

p   {
    font-size: 20px;
}

hr  {
    background-color: black;
    color: #002200;
    width: fit-content;
    height: 7px;

}

/* Top Navigation */
.topnav {
    background-color: #002200;
    color: #002200;
    overflow: hidden;
    font-family: monoid;
    margin-right: 250px;
    text-align: center;
}

.topnav a {
    display: inline-block;
    margin-left: 24px;
    color: #AAAAAA;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #002200;
    color: black;
}

.topnav a:active {
    background-color: #002200;
    color: #AAAAAA;
}

.header h1 {
    position: relative;
    margin-right: 250px;
    padding: 14px 14px;
}

.header img {
    background: transparent;
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
